### Config stuff
/config/master.key

### IDE stuff
/.idea
/.vscode

### OS stuff
/._*
/.DS_Store
/.DS_Store?
/.Spotlight-V100
/.Trashes
/ehthumbs.db
/Thumbs.db

### Rails stuff
/coverage
/doc
/log
/public/assets/*
/public/assets/source_maps
/public/robots
/public/sitemaps
/public/uploads
/spec/examples\.txt
/storage/*
/tmp
/vendor/bundle
/.bundle
/.yardoc
/pass.yml

### Sphinx stuff
/config/development.sphinx.conf
/db/sphinx

### SQLite stuff
/db/*.sqlite3
/*.sql

### Webpack
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

### Dump stuff
dump\.rdb

###Gemset
.ruby-gemset

